.cards{
    width: 260px;
    height: 280px;
    /* background-color: azure; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.cards>img{
    width: 200px;
    height:200px;
    
}
::-webkit-scrollbar{
    display: none;
}